
body{
margin: 0%;
}
#mainContenedor{
    display: flex;
}

#primerContenedor{
    background-color: rgba(238, 207, 6, 0.976);
    width: 70%;
    padding: 0 40px 0px 30px;
}

#segundoContenedor{
    background-color:rgba(238, 207, 6, 0.976);
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    color: w;
}

h2{
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
}



/* Este es el segundo cuadro
- la parte de el cuador y centralizado
*/
#segundoCuadro{
    background-color: rgb(229, 127, 11);
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Este es el tercer cuadro
-La parte de cetralizado 
*/
#tercerCuadro {
    background-color: aliceblue;
    padding: 20px;
}
#tercerCuadro h2{
    text-align: center;
    margin-bottom: 20px;
}

.cards{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#cuartoCuadro{
    background-color: rgb(22, 16, 16);
    padding-bottom: 20px;
}

#terminos{
    color: #ccc;
    padding: 30px;
    text-align: center;
}



/*Este es el segundo cuador*/
/* Esta pparte es para poner colores 
a las letras y poder diseñar de mejor manera le 
boton
*/
.items{
    color: aliceblue;
}

#segundoCuadro button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
} 



/*Este es el lugar de dibujo y forma de los cuadros, 
Que viene hacer le tecer cuadro*/
/*Este es la parte para darle forma del cubo*/
.card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

/*Este es para darle forma a la imagen detro del cuadro*/
.card img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
}

.price{
    color: orange;
}

.chart{
    background-color: #050645;
    color: #f7f7f9;
    display: flex;
    width: 300px;
    border: 1px solid #f7f7f9;
    padding: 15px;
    border-radius: 10px;
}

#pedidos{
    justify-content: center;
    width: 80%;
}

#precio{
    justify-self: center;
    width: 20%;
}