div { 
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; 
}  
.encabezado {
    background-color: #ffcb47; 
    height: 80px;
    display: flex;
    border: 5px solid darkblue;
    
}
.righ_container {
    display: flex;
    padding:10px;
    justify-content: flex-end; 
    align-items: center;       
    padding-right: 20px;       
    border: 5px solid darkblue;
    gap: 25px;
}
.left_container {
    padding:10px;
    border:4px solid darkblue;
    margin: 15px;
    width: 65%;

}
.principal {
    background-color: #7d4508; 
    height: 300px; 
}
.productos {
    background-color: #d1dce7; 
    height: 450px;
}
#promociones {
    background-color: #001927; 
    height: 200px;
}
#pie-pagina {
    background-color: #291d1d; 
    height: 80px;
}
