#mainContainer{
    display: flex;
    width: 100%; 
}

.items{
    color: rgb(19, 4, 4);
}

#thirdcontainer.items{

    color:aliceblue;
}


#firstcontainer {
    background-color: rgba(36, 184, 184, 0.966);
    width: 60%; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#secondcontainer {
    background-color: rgb(28, 179, 164);
    width: 40%; 
    display: flex;
    justify-content: space-evenly;  
    font-family:Arial, Helvetica, sans-serif 
}


 #thirdcontainer {
background-color: #3fc0ad86; 
display: flex;
flex-direction: column;   
justify-content: center;  
align-items: center;      
text-align: center;       
padding: 10px;
 }


 #roomcontainer {
    background-color: #3fc0a4; 
    display: flex;
    flex-direction: row;       
    justify-content: center;  
    align-items: center;      
    text-align: center;       
    padding: 10px;
     }



#contenidoComplementario {
    background-color: #1a1a1e; 
    color: #ffffff;            
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#tablaPrecios, #registroOfertas {
    flex: 1;
    max-width: 300px;
    padding: 10px;
    text-align: center;
}

#contenedorImagenes {
    text-align: center;
    padding: 10px;
}


#tablaPrecios h3, #registroOfertas h3 {
    color: #00e676;
    margin-bottom: 10px;
}


table {
    width: 100%;
    border: 1px solid #555;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #823fc0; 
}


#registroOfertas form {
    margin-top: 10px;
}

#registroOfertas input[type="text"],
#registroOfertas input[type="email"] {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}

#registroOfertas input[type="submit"] {
    width: 95%;
    background-color: #00e676;
    color: black;
    border: none;
    padding: 8px;
    cursor: pointer;
}
