

        .bloque1 {
            height: 50px;
            background-color: #ffb800;
            display: flex;
            text-align: center;
           
            
        }

        .left_container {

            display: flex;
            width: 70%;
            margin-top: 1%;

        }
        .right_container {

            display: flex;
            width: 30%;
            justify-content: space-between;
            text-align: center;
            margin-top: 1%;
           
           

        }
        .button-action {
            background-color: #212121; 
            color: #ffffff;           
            width: 25%;
            padding: 10px;
            text-align: center;
            margin: 5px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 8px; 
            justify-content: space-around;
            align-items: center;
            
        }


        .bloque2 {
            height: 180px;
            background-color: #ff7b00;
            color:#ffffff;
            align-items: center;
            text-align: center;
            justify-content: center;
            display: flex; 
            flex-direction: column;

        }


        .bloque3 {
            height: 200px;
            background-color: #dae8fc;
            text-align: center;
           
            
        }

        .productos-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
        }

        .producto {
            width: 25%;
            padding: 10px;
            text-align: center;


        }

        .bloque4 {
            height: 150px;
            background-color: #f7f3ef;
            text-align: center;           
        }

        .promo-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
        }

        .promo {
            width: 25%;
            padding: 10px;
            text-align: center;
            margin: 5px;
            font-size: 16px;
            font-weight: bold;
            background-color: #0d3b56;
            color: #ffffff;
            border-radius: 8px; 
        }
        

        .promo-precio {
            font-weight: bold;
            font-size: 14px;
        }

        .bloque5 {
            height: 50px;
            background-color: #2a2a2a;
            text-align: center;
            color: white;
            margin-top: 3%;
            display: flex;              
            align-items: center;        
            justify-content: center;


        }
